body{
    background-image: url(https://i.pinimg.com/originals/3b/4f/ac/3b4facdf04c5dcb2930c3177ab966dce.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    position: relative;
    font-size: 50px;
    color: rgb(75, 152, 219);
    
}
.design{
    position: relative;
    width: 300px;
    /* border: 2px solid black; */
    bottom: 150px;
    /* top: 5px; */
}


.card-img-top{
    width: 30px;
    height: 150px;
}
.adj{
    position: relative;
    left: 20px;
}
.row1{
    /* border: 2px solid black; */
    position: relative;
    
}